html,
body {
  height: 100%;
  background: #111214;
}

.navbar {
  background: #343a40;
  border-bottom: 1px #212529 solid;
  padding: 0.5em 2em;
}

.navbar #icons {
  min-width: 30%;
}

.navbar #icons-main {
  min-width: 7.5%;
}

.cc-nav-icon {
  color: #a8a8a8;
}

.cc-nav-icon:hover {
  color: white;
  cursor: pointer;
}

.cc-profile-pic {
  border-radius: 2em;
  max-height: 50px;
}

.cc-chat-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  color: white;
  padding: 1rem;
  background: #212529;
}

.cc-chat-room.active {
  background: #343a40;
}

.cc-chat-room:hover {
  background: #343a40;
  cursor: pointer;
}

.cc-chat-room:hover .cc-down {
  display: block;
  color: #a8a8a8;
  margin-left: 0.5em;
}

.cc-chat-room .cc-down {
  display: none;
}

.cc-chat-room img {
  margin-right: 1em;
}

.cc-chat-room small {
  font-size: 0.75em;
}

.text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  color: #c5c5c5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cc-unread-text {
  color: #c5c5c5;
}

.cc-unread-notif {
  color: #25d366;
}

form {
  border-bottom: 1px #343a40 solid;
}

.cc-chat-search,
.cc-chat-search:focus {
  background: #343a40;
  border-radius: 1em;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cc-chat-search input,
.cc-chat-search input:focus,
.cc-chat-search:focus input,
.cc-chat-search:focus input:focus {
  background: #343a40;
  color: white;
  border-radius: 1em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fa-stack {
  font-size: 0.7em;
}

#main {
  border-left: 1px #212529 solid;
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cc-message-input {
  position: fixed;
  bottom: 0;
  width: 66.66%;
}

.cc-message-stream {
  padding: 0 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.cc-message-received {
  padding: 0 1em;
  background: #343a40;
  color: white;
  margin: auto 1em;
  max-width: 40%;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
}

.cc-sender-name {
  color: #6cb988;
  font-weight: bold;
  font-size: 0.9em;
}

.cc-message-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin-top: 0.3em;
  color: #c5c5c5;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.cc-message-sent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: red;
  color: white;
  padding: 0.5em 1em;
  background: teal;
  max-width: 40%;
  border-radius: 0.5em;
  position: relative;
}

/* speech bubble 13 */
.sb-r:before {
  content: '';
  margin-bottom: 1em;
  border-left: 1em solid red;
  border-right: 1em solid transparent;
  border-top: 1em solid teal;
  border-bottom: 1em solid transparent;
  border-radius: 0.5em;
  right: -1em;
  top: 0px;
}

/* speech bubble 14 */
.sb-l:before {
  content: '';
  position: absolute;
  border-left: 1em solid transparent;
  border-right: 1em solid #343a40;
  border-top: 1em solid #343a40;
  border-bottom: 1em solid transparent;
  border-radius: 0.5em;
  left: -1em;
  top: 0px;
}
/*# sourceMappingURL=styles.css.map */