$color-highlight-light: rgb(197, 197, 197);
$color-highlight: rgb(168, 168, 168);
$color-highlight-muted: rgb(52, 58, 64);
$color-highlight-dark: #212529;
$color-unread: #25d366;
$main-background: #111214;

$sender-color-1: #6cb988;
$sender-color-2: #c18adb;
$sender-color-3: #c2aa69;

html,
body {
  height: 100%;
  background: $main-background;
}

.navbar {
  background: $color-highlight-muted;
  border-bottom: 1px $color-highlight-dark solid;
  padding: 0.5em 2em;

  #icons {
    min-width: 30%;
  }

  #icons-main {
    min-width: 7.5%;
  }
}

.cc-nav-icon {
  color: $color-highlight;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.cc-profile-pic {
  border-radius: 2em;
  max-height: 50px;
}

.cc-chat-room {
  display: flex;
  flex-flow: row;
  color: white;
  padding: 1rem;
  background: $color-highlight-dark;

  &.active {
    background: $color-highlight-muted;
  }

  &:hover {
    background: $color-highlight-muted;
    cursor: pointer;

    .cc-down {
      display: block;
      color: $color-highlight;
      margin-left: 0.5em;
    }
  }

  .cc-down {
    display: none;
  }

  img {
    margin-right: 1em;
  }

  small {
    font-size: 0.75em;
  }
}

.cc-text {
  width: 100%;
  display: flex;
  flex-flow: row;
  color: $color-highlight-light;
  justify-content: space-between;
}

.cc-unread-text {
  color: $color-highlight-light;
}

.cc-unread-notif {
  color: $color-unread;
}

form {
  border-bottom: 1px $color-highlight-muted solid;
}

.cc-chat-search,
.cc-chat-search:focus {
  background: $color-highlight-muted;
  border-radius: 1em;
  border: none;
  box-shadow: none;

  input,
  input:focus {
    background: $color-highlight-muted;
    color: white;
    border-radius: 1em;
    box-shadow: none;
  }
}

.fa-stack {
  font-size: 0.7em;
}

.cc-main-nav {
  flex: 0 1 auto;
}

.cc-message-input {
  flex: 0 1 40px;
}

.dropdown-menu {
  background-color: $color-highlight-muted;
}
.dropdown-item {
  padding: 0.5em 1em;
  &:hover {
    background-color: $color-highlight-dark;
  }
}

#main {
  display: flex;
  flex-flow: column;
  // height: 100%;
  border-left: 1px $color-highlight-dark solid;
  background: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cc-message-stream {
  position: relative;
  padding: 0 6em;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  flex: 1 1 auto;
  height: 100%;

  &:hover {
    .float {
      transform: translateY(-400px);
      opacity: 1;
      width: 60px;
      height: 60px;
      left: 4%;
      color: #fff;
    }
  }
  .float {
    &.float-1 {
      background-color: #447cec;
      bottom: -5%;
    }
    &.float-2 {
      background-color: #14acf4;
      bottom: -15%;
    }
    &.float-3 {
      background-color: #5c64cc;
      bottom: -25%;
    }
    &.float-4 {
      background-color: #ec447c;
      bottom: -35%;
    }
    &.float-5 {
      background-color: #bc5ccc;
      bottom: -45%;
    }

    display: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
    left: 6%;
    width: 0px;
    height: 0px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 2px 2px 3px $color-highlight-dark;
  }
}

.my-float {
  font-size: 1.5em;
}

.cc-message-received {
  padding: 0 1em;
  background: $color-highlight-muted;
  color: white;
  margin-right: auto;
  max-width: 40%;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  display: flex;
  flex-flow: column;
  position: relative;
  margin-bottom: 1em;
}

.cc-sender-name {
  color: $sender-color-1;
  font-weight: bold;
  font-size: 0.9em;
}

.cc-message-tag {
  display: flex;
  flex-flow: row;
  margin-top: 0.3em;
  color: $color-highlight-light;
  align-self: flex-end;
}

.cc-message-sent {
  display: flex;
  flex-flow: column;
  background: red;
  color: white;
  padding: 0.5em 1em;
  background: teal;
  margin-left: auto;
  max-width: 40%;
  border-radius: 0.5em;
  position: relative;
  margin-bottom: 0.25em;
}

/* speech bubble 13 */

.sb-r:before {
  content: '';
  position: absolute;
  border-left: 1em solid teal;
  border-right: 1em solid transparent;
  border-top: 1em solid teal;
  border-bottom: 1em solid transparent;
  border-radius: 0.5em;
  right: -1em;
  top: 0px;
}

/* speech bubble 14 */
.sb-l:before {
  content: '';
  position: absolute;
  border-left: 1em solid transparent;
  border-right: 1em solid $color-highlight-muted;
  border-top: 1em solid $color-highlight-muted;
  border-bottom: 1em solid transparent;
  border-radius: 0.5em;
  left: -1em;
  top: 0px;
}

.sidebar {
  &.left {
    left: -25%;
  }

  &.right {
    right: -25%;
  }

  height: 100%; /* 100% Full-height */
  width: 25%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0;
  background-color: $color-highlight-dark; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
