$color-highlight-light: rgb(197, 197, 197);
$color-highlight: rgb(168, 168, 168);
$color-highlight-muted: rgb(52, 58, 64);
$color-highlight-dark: #212529;
$color-unread: #25d366;
$main-background: #111214;
$color-status-secondary: rgb(20, 20, 20);

$sender-color-1: #6cb988;
$sender-color-2: #c18adb;
$sender-color-3: #c2aa69;

html,
body {
  height: 100%;
  background: $main-background;
}

.cc-chatroom-list {
  overflow-y: auto;
  height: 100%;
}

.navbar {
  background: $color-highlight-muted;
  border-bottom: 1px $color-highlight-dark solid;
  padding: 0.5em 2em;

  #icons {
    min-width: 30%;
  }

  #icons-main {
    min-width: 7.5%;
  }
}

.cc-nav-icon {
  color: $color-highlight;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.cc-profile-pic {
  &.cc-img-large {
    max-height: 100px;
    border-radius: 50%;
  }
  &.status {
    border: $color-unread 3px solid;
    max-height: 64px;
    margin: 0;
    margin-right: 32px;
    margin-bottom: 10px;

    &:hover {
      max-height: 68px;
      margin: 0;
      margin-right: 28px;
      margin-bottom: 6px;
      cursor: pointer;
    }

    &.multi {
      border: $color-unread 4px dashed;
    }
  }

  border-radius: 2em;
  max-height: 50px;
}

.cc-divider {
  margin-bottom: 0;
  color: grey;
}

.cc-chat-room {
  .cc-divider-2 {
    width: 90%;
    margin-left: 2.2em;
    margin-bottom: 0;
  }

  &.status,
  &.status:hover {
    margin: 1em;
    background-color: $color-status-secondary;
    cursor: default;
  }

  p {
    font-size: 1.2em;
  }

  .cc-story {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-left: 0.5em;
    justify-content: center;
  }

  z-index: 50;
  display: flex;
  flex-flow: row;
  color: white;
  padding: 1rem;
  padding-bottom: 0;
  background: $color-highlight-dark;

  &.active {
    background: $color-highlight-muted;
  }

  &:hover {
    background: $color-highlight-muted;
    cursor: pointer;

    .cc-down {
      display: block;
      color: $color-highlight;
      margin-left: 0.5em;
    }
  }

  .cc-down {
    display: none;
  }

  img {
    margin-right: 1em;
  }

  small {
    font-size: 0.75em;
  }
}

.cc-text {
  width: 100%;
  display: flex;
  flex-flow: row;
  color: $color-highlight-light;
  justify-content: space-between;
}

.cc-unread-text {
  color: $color-highlight-light;
}

.cc-unread-notif {
  color: $color-unread;
}

form {
  border-bottom: 1px $color-highlight-muted solid;
}

.cc-chat-search,
.cc-chat-search:focus {
  background: $color-highlight-muted;
  border-radius: 1em;
  border: none;
  box-shadow: none;

  input,
  input:focus {
    background: $color-highlight-muted;
    color: white;
    border-radius: 1em;
    box-shadow: none;
  }
}

.cc-header-left {
  z-index: 100;
}

.fa-stack {
  font-size: 0.7em;
}

.cc-main-nav {
  flex: 0 1 auto;
}

.cc-message-input {
  flex: 0 1 40px;
}

.dropdown-menu {
  background-color: $color-highlight-muted;
}
.dropdown-item {
  padding: 0.5em 1em;
  &:hover {
    background-color: $color-highlight-dark;
  }
}

#main {
  display: flex;
  flex-flow: column;
  border-left: 1px $color-highlight-dark solid;
  background: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cc-status-left {
  background-color: $color-status-secondary;
}

.cc-status-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.cc-status-notch {
  font-size: 6em;
}

.cc-status-close {
  &:hover {
    color: $color-highlight-light;
  }
  font-size: 1.4em;
  position: absolute;
  right: 2%;
  top: 2%;
  color: white;
}

.cc-status-text {
  font-size: 1.2em;
}

.cc-status-main {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center;
  color: grey;
}

.cc-message-stream {
  overflow-y: auto;
  position: relative;
  padding: 0 6em;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  flex: 1 1 auto;
  height: 100%;

  /*Make the buttons above the attchment icon*/
  .float {
    &#float-1 {
      background-color: #447cec;
    }
    &#float-2 {
      background-color: #14acf4;
    }
    &#float-3 {
      background-color: #5c64cc;
    }
    &#float-4 {
      background-color: #ec447c;
    }
    &#float-5 {
      background-color: #bc5ccc;
    }

    opacity: 0;
    transition: 0.2s ease-in-out;
    left: 4%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    z-index: 100;
    // box-shadow: 2px 2px 3px $color-highlight-dark;
  }
}

.my-float {
  font-size: 1.5em;
}

/*Show the sender name and the message in grey*/
.cc-message-received {
  padding: 0 1em;
  background: $color-highlight-muted;
  color: white;
  margin-right: auto;
  max-width: 40%;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  display: flex;
  flex-flow: column;
  position: relative;
  margin-bottom: 1em;
  &.cc-starred {
    max-width: 100%;
  }
}

/*Different sender name colors based on sender (group)*/
.cc-sender-name {
  color: $sender-color-1;
  font-weight: bold;
  font-size: 0.9em;
}

/*Time and seen status inside the message stream*/
.cc-message-tag {
  display: flex;
  flex-flow: row;
  margin-top: 0.3em;
  color: $color-highlight-light;
  align-self: flex-end;
}

/*Show your message in green*/
.cc-message-sent {
  display: flex;
  flex-flow: column;
  background: red;
  color: white;
  padding: 0.5em 1em;
  background: teal;
  margin-left: auto;
  max-width: 40%;
  border-radius: 0.5em;
  position: relative;
  margin-bottom: 0.25em;
}

/*Chat tail for the sent messages*/
.sb-r:before {
  content: '';
  position: absolute;
  border-left: 1em solid teal;
  border-right: 1em solid transparent;
  border-top: 1em solid teal;
  border-bottom: 1em solid transparent;
  border-radius: 0.5em;
  right: -1em;
  top: 0px;
}

/*Chat tail for the receievd messages*/
.sb-l:before {
  content: '';
  position: absolute;
  border-left: 1em solid transparent;
  border-right: 1em solid $color-highlight-muted;
  border-top: 1em solid $color-highlight-muted;
  border-bottom: 1em solid transparent;
  border-radius: 0.5em;
  left: -1em;
  top: 0px;
}

.dropdown-item,
.dropdown-item:hover {
  color: white;
}
.cc-sidebar {
  &.cc-sidebar-left {
    left: -25%;
  }

  &.cc-sidebar-right {
    right: -25%;
  }

  height: 100%; /* 100% Full-height */
  width: 25%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0;
  background-color: $color-highlight-dark; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the cc-sidebar */
}

#sidebarBottom {
  text-align: center;
  transition: 0.2s ease-in-out;
  height: 0px;
  background-color: $color-highlight-dark;
}

#emojiTabs {
  margin-top: 0.3em;
  margin: auto;
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8em;
  color: $color-highlight;

  .cc-emoji-tab {
    flex: 1 0 auto;
    text-decoration: none;
    color: $color-highlight;
  }
}

.cc-emoji-search,
.cc-emoji-search:focus {
  background: $color-highlight-muted;
  border-radius: 0.4em;
  margin: auto;
  max-width: 98%;
  margin-top: 1em;
  display: none;

  input,
  input:focus {
    background: $color-highlight-muted;
    color: white;
    border-radius: 1em;
    box-shadow: none;
  }
}

/* The cc-sidebar links */
.cc-sidebar a {
  text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.cc-sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.cc-sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.cc-desc-img {
  border-radius: 50%;
  margin-top: 2em;
}

.cc-desc-section {
  padding: 1.5em 3em;
  border-bottom: 1em rgb(19, 19, 19) solid;
}

.cc-split-text {
  display: flex;
  flex-flow: row;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.cc-bordered {
  border: 1px $color-unread solid;
  border-radius: 1px;
  padding: 0 5px;
  font-size: small;

  &.cc-unread-text {
    border: 1px $color-highlight solid;
  }
}

.cc-btn-circle {
  border-radius: 50%;
  height: 42px;
  width: 42px;

  &:hover {
    i {
      color: $color-highlight-dark;
    }
  }
}

.cc-blinker {
  font-size: 1.2em;
  margin: 0 0.5em;
  animation: blink 1.5s linear infinite;
}

.recorder {
  transform: 1s ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#timer {
  color: $color-highlight-light;
  margin-right: 0.8em;
}

.cc-profile-img {
  opacity: 1;
  width: 50%;
  transition: 0.5s ease;
  border-radius: 50%;
  margin-top: 3em;
  width: 50%;
}

.cc-overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cc-overlay-image {
  position: relative;
  &:hover {
    .cc-profile-img {
      opacity: 0.3;
    }

    .cc-overlay {
      opacity: 1;
    }
  }
}

.cc-overlay-text {
  color: white;
  font-size: 16px;
  padding: 4em;
  padding-top: 6em;
}

.cc-starred-image {
  border-radius: 50%;
  height: 35px;
}

.cc-starred-message {
  margin: 1em;
}

.cc-starred-sender {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: white;
}

.cc-selector {
  position: absolute;
  transition: 0.1s;
  left: -100px;
  font-size: 1.5em;
}

#messageSelector {
  position: absolute;
  bottom: -100px;
  font-size: 1.2em;
  height: 4em;
  transition: 0.2s;
  width: 75%;
  z-index: 1000;
  display: None;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  background-color: $color-highlight-dark;
}

.cc-icon-row {
  width: 18%;
  display: flex;
  margin-right: 1em;
  justify-content: space-around;
  font-size: 1.2em;
  color: $color-highlight-muted;
}
