html,
body {
  height: 100%;
  background: #111214;
}

.cc-chatroom-list {
  overflow-y: auto;
  height: 100%;
}

.navbar {
  background: #343a40;
  border-bottom: 1px #212529 solid;
  padding: 0.5em 2em;
}

.navbar #icons {
  min-width: 30%;
}

.navbar #icons-main {
  min-width: 7.5%;
}

.cc-nav-icon {
  color: #a8a8a8;
}

.cc-nav-icon:hover {
  color: white;
  cursor: pointer;
}

.cc-profile-pic {
  border-radius: 2em;
  max-height: 50px;
}

.cc-profile-pic.cc-img-large {
  max-height: 100px;
  border-radius: 50%;
}

.cc-profile-pic.status {
  border: #25d366 3px solid;
  max-height: 64px;
  margin: 0;
  margin-right: 32px;
  margin-bottom: 10px;
}

.cc-profile-pic.status:hover {
  max-height: 68px;
  margin: 0;
  margin-right: 28px;
  margin-bottom: 6px;
  cursor: pointer;
}

.cc-profile-pic.status.multi {
  border: #25d366 4px dashed;
}

.cc-divider {
  margin-bottom: 0;
  color: grey;
}

.cc-chat-room {
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  color: white;
  padding: 1rem;
  padding-bottom: 0;
  background: #212529;
}

.cc-chat-room .cc-divider-2 {
  width: 90%;
  margin-left: 2.2em;
  margin-bottom: 0;
}

.cc-chat-room.status, .cc-chat-room.status:hover {
  margin: 1em;
  background-color: #141414;
  cursor: default;
}

.cc-chat-room p {
  font-size: 1.2em;
}

.cc-chat-room .cc-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  padding-left: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cc-chat-room.active {
  background: #343a40;
}

.cc-chat-room:hover {
  background: #343a40;
  cursor: pointer;
}

.cc-chat-room:hover .cc-down {
  display: block;
  color: #a8a8a8;
  margin-left: 0.5em;
}

.cc-chat-room .cc-down {
  display: none;
}

.cc-chat-room img {
  margin-right: 1em;
}

.cc-chat-room small {
  font-size: 0.75em;
}

.cc-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  color: #c5c5c5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cc-unread-text {
  color: #c5c5c5;
}

.cc-unread-notif {
  color: #25d366;
}

form {
  border-bottom: 1px #343a40 solid;
}

.cc-chat-search,
.cc-chat-search:focus {
  background: #343a40;
  border-radius: 1em;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cc-chat-search input,
.cc-chat-search input:focus,
.cc-chat-search:focus input,
.cc-chat-search:focus input:focus {
  background: #343a40;
  color: white;
  border-radius: 1em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cc-header-left {
  z-index: 100;
}

.fa-stack {
  font-size: 0.7em;
}

.cc-main-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.cc-message-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40px;
          flex: 0 1 40px;
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  padding: 0.5em 1em;
}

.dropdown-item:hover {
  background-color: #212529;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-left: 1px #212529 solid;
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cc-status-left {
  background-color: #141414;
}

.cc-status-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.cc-status-notch {
  font-size: 6em;
}

.cc-status-close {
  font-size: 1.4em;
  position: absolute;
  right: 2%;
  top: 2%;
  color: white;
}

.cc-status-close:hover {
  color: #c5c5c5;
}

.cc-status-text {
  font-size: 1.2em;
}

.cc-status-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: column;
      -ms-flex: column;
          flex: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: grey;
}

.cc-message-stream {
  overflow-y: auto;
  position: relative;
  padding: 0 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  /*Make the buttons above the attchment icon*/
}

.cc-message-stream .float {
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  left: 4%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 50%;
  z-index: 100;
}

.cc-message-stream .float#float-1 {
  background-color: #447cec;
}

.cc-message-stream .float#float-2 {
  background-color: #14acf4;
}

.cc-message-stream .float#float-3 {
  background-color: #5c64cc;
}

.cc-message-stream .float#float-4 {
  background-color: #ec447c;
}

.cc-message-stream .float#float-5 {
  background-color: #bc5ccc;
}

.my-float {
  font-size: 1.5em;
}

/*Show the sender name and the message in grey*/
.cc-message-received {
  padding: 0 1em;
  background: #343a40;
  color: white;
  margin-right: auto;
  max-width: 40%;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  margin-bottom: 1em;
}

.cc-message-received.cc-starred {
  max-width: 100%;
}

/*Different sender name colors based on sender (group)*/
.cc-sender-name {
  color: #6cb988;
  font-weight: bold;
  font-size: 0.9em;
}

/*Time and seen status inside the message stream*/
.cc-message-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin-top: 0.3em;
  color: #c5c5c5;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/*Show your message in green*/
.cc-message-sent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: red;
  color: white;
  padding: 0.5em 1em;
  background: teal;
  margin-left: auto;
  max-width: 40%;
  border-radius: 0.5em;
  position: relative;
  margin-bottom: 0.25em;
}

/*Chat tail for the sent messages*/
.sb-r:before {
  content: '';
  position: absolute;
  border-left: 1em solid teal;
  border-right: 1em solid transparent;
  border-top: 1em solid teal;
  border-bottom: 1em solid transparent;
  border-radius: 0.5em;
  right: -1em;
  top: 0px;
}

/*Chat tail for the receievd messages*/
.sb-l:before {
  content: '';
  position: absolute;
  border-left: 1em solid transparent;
  border-right: 1em solid #343a40;
  border-top: 1em solid #343a40;
  border-bottom: 1em solid transparent;
  border-radius: 0.5em;
  left: -1em;
  top: 0px;
}

.dropdown-item,
.dropdown-item:hover {
  color: white;
}

.cc-sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 25%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Stay on top */
  top: 0;
  background-color: #212529;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the cc-sidebar */
}

.cc-sidebar.cc-sidebar-left {
  left: -25%;
}

.cc-sidebar.cc-sidebar-right {
  right: -25%;
}

#sidebarBottom {
  text-align: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  height: 0px;
  background-color: #212529;
}

#emojiTabs {
  margin-top: 0.3em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.8em;
  color: #a8a8a8;
}

#emojiTabs .cc-emoji-tab {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-decoration: none;
  color: #a8a8a8;
}

.cc-emoji-search,
.cc-emoji-search:focus {
  background: #343a40;
  border-radius: 0.4em;
  margin: auto;
  max-width: 98%;
  margin-top: 1em;
  display: none;
}

.cc-emoji-search input,
.cc-emoji-search input:focus,
.cc-emoji-search:focus input,
.cc-emoji-search:focus input:focus {
  background: #343a40;
  color: white;
  border-radius: 1em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* The cc-sidebar links */
.cc-sidebar a {
  text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.cc-sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.cc-sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.cc-desc-img {
  border-radius: 50%;
  margin-top: 2em;
}

.cc-desc-section {
  padding: 1.5em 3em;
  border-bottom: 1em #131313 solid;
}

.cc-split-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cc-bordered {
  border: 1px #25d366 solid;
  border-radius: 1px;
  padding: 0 5px;
  font-size: small;
}

.cc-bordered.cc-unread-text {
  border: 1px #a8a8a8 solid;
}

.cc-btn-circle {
  border-radius: 50%;
  height: 42px;
  width: 42px;
}

.cc-btn-circle:hover i {
  color: #212529;
}

.cc-blinker {
  font-size: 1.2em;
  margin: 0 0.5em;
  -webkit-animation: blink 1.5s linear infinite;
          animation: blink 1.5s linear infinite;
}

.recorder {
  -webkit-transform: 1s ease-in-out;
          transform: 1s ease-in-out;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#timer {
  color: #c5c5c5;
  margin-right: 0.8em;
}

.cc-profile-img {
  opacity: 1;
  width: 50%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 50%;
  margin-top: 3em;
  width: 50%;
}

.cc-overlay {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cc-overlay-image {
  position: relative;
}

.cc-overlay-image:hover .cc-profile-img {
  opacity: 0.3;
}

.cc-overlay-image:hover .cc-overlay {
  opacity: 1;
}

.cc-overlay-text {
  color: white;
  font-size: 16px;
  padding: 4em;
  padding-top: 6em;
}

.cc-starred-image {
  border-radius: 50%;
  height: 35px;
}

.cc-starred-message {
  margin: 1em;
}

.cc-starred-sender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.cc-selector {
  position: absolute;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  left: -100px;
  font-size: 1.5em;
}

#messageSelector {
  position: absolute;
  bottom: -100px;
  font-size: 1.2em;
  height: 4em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 75%;
  z-index: 1000;
  display: None;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
  background-color: #212529;
}

.cc-icon-row {
  width: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.2em;
  color: #343a40;
}

.cc-modal {
  background-color: #343a40;
  position: absolute;
  color: #c5c5c5;
  left: 50%;
  max-width: 90%;
  -webkit-transform: translate(-30%, 100%);
          transform: translate(-30%, 100%);
}

.cc-modal-dark {
  background-color: #343a40;
  color: #039777;
}

.cc-modal-dark:hover {
  color: #25d366;
}

.cc-modal-green {
  background-color: #039777;
  color: #212529;
}

.cc-modal-green:hover {
  background-color: #25d366;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.modal-body {
  margin: 0 1em;
}

.cc-check:checked {
  border: none;
  background-color: #039777;
}

.cc-logout-body {
  position: relative;
  background: url("../img/logoutbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cc-qr-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 4em;
  background-color: white;
  position: absolute;
  width: 60%;
  height: 55%;
  top: 10%;
  left: 20%;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 5px #212529;
          box-shadow: 2px 2px 5px #212529;
}

.cc-qrtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cc-qrtext p {
  font-size: 1.3em;
}

.cc-qrtext small {
  color: teal;
}

.cc-qrtext i {
  background-color: #c5c5c5;
  padding: 4px 6px;
  margin: 0 4px;
  font-size: 0.9em;
  border-radius: 0.3em;
}

.cc-qrcode {
  max-height: 300px;
}
/*# sourceMappingURL=styles.css.map */